package transformador.de.numeros;

import java.util.Scanner;

public class binario {
    public static void main(String[]args){
        String binario;
        int numero;
        Scanner escaner =new Scanner(System.in);
        System.out.println("\n introduzca un numero:");
        numero= escaner.nextInt();
        binario=Integer.toBinaryString(numero);
        System.out.println("\n Numerointroducido: "+numero+"\nNumero Binacio :" +binario);;
        
    }
}
